* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
$maincolor: #f57224;
$whiteColor: #fff;
$blackColor: #000;
$lightDark: #222;

nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0;

}
