* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
$mainColor: #f57224;
$whiteColor: #fff;
$blackColor: #000;
$lightDark: #222;
/* Navbar style */
nav {
  width: 100%;
  object-fit: contain;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1;
  & ul {
    list-style: none;
  }
  & ul a {
    text-decoration: none;
  }
}
.heading {
  font-weight: 700;
  color: $mainColor;
  font-size: 25px;
  font-style: italic;
}

.left {
  width: 50%;
  text-align: left;
}
.right {
  width: 60%;
  text-align: right;
}
.icon {
  color: blue;
  margin-top: 10px;
  object-fit: contain;
}

.shoppingCart {
  display: inline-block;
  font-size: 20px;
  object-fit: contain;
  color: $lightDark;
  margin-right: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.cartCount {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: $mainColor;
  color: $whiteColor;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  margin-left: 15px;
}

// helpers
.container {
  width: 100%;
  padding: 0px 100px;
  object-fit: contain;
}
// Banner Style
header {
  width: 100%;
  background: url("./Image/pexels-freestocksorg-749353.jpg");
  height: 250px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
}

.header_text {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 180px;
  display: flex;
}
.main_text {
  color: red;
  font-style: italic;
}

/* ---------- Products Style -------*/
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cutprice {
  text-decoration: line-through;
  color: red;
  font-size: 18px;
}
.product {
  width: 25%;
  padding: 0 12px;
  object-fit: contain;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.hot {
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: $whiteColor;
}
.new {
  position: absolute;
  top: 0;
  background: greenyellow;
  padding: 5px 20px;
  color: $whiteColor;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
}
.product_details {
  padding: 15px 10px;
  text-align: center;
  background: $whiteColor;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.product_name {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}
.product_price {
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}

.add_cart {
  background: $mainColor;
  padding: 10px 20px;
  width: 100%;
  text-decoration: none;
  color: $whiteColor;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background: #b94603;
  }
}
/*----- Not Found ---*/
.NotFound {
  margin-top: 100px;
}

// cart style
.cart-container {
  width: 100%;
  margin-top: 70px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details {
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.cart {
  display: flex;
  align-items: center;
  background: $whiteColor;
  padding: 15px 20px;
}
.cart_image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.cart_image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cart_product_name {
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.cart_product_price {
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: $mainColor;
}
.inc {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid $mainColor;
  font-size: 14px;
  color: $mainColor;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: greenyellow;
  }
}
.incIcon,
.decIcon {
  // padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  line-height: 10px;
  font-size: 24px;
  color: red;
}
.product_qty {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.dec {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  color: red;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: gray;
  }
}
.total_price {
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete {
  border: none;
  color: red;
  cursor: pointer;
}

/*------ CartS-Summery------*/
.cart-summery {
  width: 25%;
  padding: 0 0 0 20px;
  margin-top: 85px;
}
.summery {
  background: $whiteColor;
  padding: 13px;
}
.summery h3 {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;
}
.total-items {
  display: flex;
  margin: 15px 0;
}
.items {
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-count {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: $mainColor;
}
.total-price-section {
  display: flex;
  margin: 15px 0;
}
.just-title {
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-price {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: $mainColor;
}

/*----------- MObile View-----------------*/

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .right {
    display: inline-block;
  }
  .left {
    text-align: left;
    margin-left: 40px;
  }

  .header_text {
    padding: 0px 15px;
    flex-wrap: wrap;
    object-fit: contain;
    // overflow: hidden;
    &h1 {
      font-size: 20px;
    }
  }
  .main_text {
    // color: green;
    font-size: 20px;
   text-align: center;
   
   justify-content: center;
   padding-right: 10px;
  }
  .products {
    flex-direction: column;
    object-fit: contain;
  }
  .product_details {
    width: 100%;
    padding-bottom: 30px;

  }
  .product {
    width: 100%;
    object-fit: contain;
  }
  .cart-container {
    flex-direction: column;
  }
  .cart {
    flex-direction: column;
  }
  .cart-details {
    width: 100%;
  }
  .cart_image {
    padding: 15px 0;
    object-fit: contain;
  }
  .cart_product_name {
    padding: 15px 0;
    text-align: center;
  }
  .cart_product_price {
    padding: 15px 0;
  }
  .product_qty {
    padding: 15px 0;
  }
  .total_price {
    padding: 0 15px;
  }
  .cart-summery {
    width: 100%;
  }
  .right {
    width: 60%;
    text-align: right;
    padding-left: 80px;
    padding-top: 20px;
  }

  .shoppingCart {
    display: flex;
    font-size: 24px;
    color: $lightDark;
    margin-left: 10px;
    padding-right: 30px;
  }

  .cartCount {
    display: inline-block;
    width: 33px;
    height: 30px;
    background: $mainColor;
    color: $whiteColor;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    padding-left: 20px;
  }
}
